#backup {
    position: absolute;
    top: 0%;
}

body.background {
    font-family: 'Open Sans', sans-serif;
    transition: background-color 0.2s;
}

html {
    scroll-behavior: smooth;
}

div.middle {
    display: flex;
    justify-content: center;
}

.textcenter {
    text-align: center;
    border-bottom: 1px #c2bfbf solid;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
    color: rgb(120, 120, 197);
    transition: color 0.5s;
}

a:hover {
    color: rgba(120, 120, 197, 0.712);
    transition: color 0.5s;
}

.topmenu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color: #c7c7c7;
    padding-top: 20px;
    padding-bottom: 20px;
}

.toptext {
    font-family: 'Bebas Neue', cursive;
    margin-left: 10px;
    font-size: 12px;
}

.themeimg {
    position: absolute;
    right: 0px;
    margin-right: 10px;
    padding: 5px;
    background-color: #bcbcbc;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.themeimg:hover {
    background-color: #eeeeee;
    transition: background-color 0.5s;
}

.welcome {
    position: absolute;
    background-color: #dad8d8b4;
    padding: 5px;
    margin-top: 90px;
    width: 250px;
    border-radius: 10px;
}

.welcome-title {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px #b6b5b5 solid;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

.welcome-text {
    padding: 5px;
    font-size: 14px;
    text-align: justify;
}

.nolink {
    position: absolute;
    background-color: #dad8d8b4;
    padding: 5px;
    margin-top: 90px;
    width: 250px;
    border-radius: 10px;
}

.nolink-title {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px #b6b5b5 solid;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

.nolink-text {
    padding: 5px;
    font-size: 14px;
    text-align: justify;
}

.table-choice {
    margin-top: 475px;
}

.table-choice-button {
    cursor: pointer;
    background-color: #8c8c8c93;
    border-radius: 10px;
    border: none;
    padding: 5px;
    color: rgb(0, 0, 0);
    transition: background-color 0.5s;
}

.table-choice-button:hover {
    background-color: #8c8c8c67;
}

.tables-main {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.tables {
    border: 1px solid #bcbcbc;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
}

.table-heading {
    padding: 20px;
    font-size: 16px;
    border-bottom: 2px solid #bcbcbc;
}

.table-content {
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
}

.table-content-first {
    border-right: 1px dashed #bcbcbc;
    padding-right: 18px;
    padding-bottom: 8px;
}

.table-content-middle {
    padding-right: 15px;
    padding-bottom: 8px;
}

.table-content-last {
    border-left: 1px dashed #bcbcbc;
    padding-left: 18px;
    padding-bottom: 8px;
}

.table-inputs {
    border-top: 1px dashed #bcbcbc;
    padding-top: 8px;
}

.customrecoveries {
    margin-top: 30px;
}

.back-up {
    position: fixed;
    bottom: 0%;
    right: 0%;
    padding: 5px;
    transition: background-color 0.5s;
    background-color: #8c8c8c;
    cursor: pointer;
    border-top-left-radius: 10px;
}

.back-up:hover {
    background-color: #bcbcbc;
}

.bottom-info {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #d8d0d0;
    margin-top: 30px;
    width: 100%;
    left: 0%;
    z-index: 1000;
}

.external-links-main {
    position: absolute;
    display: flex;
    right: 0%;
    margin-right: 10px;
}

.external-links {
    font-size: 11px;
    padding-right: 10px;
}

.external-links-color {
    color: rgba(0, 0, 0, 0.575);
}

.external-links-color:hover {
    color: rgba(0, 0, 0, 0.767);
}

.github-logo {
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.github-logo:hover {
    background-color: #c4bcbc;
    transition: background-color 0.5s;
}

/* XXX Small screens (320px and up) */
@media only screen and (min-width: 320px) {
    .toptext {
        font-size: 18px;
    }

    .tables {
        font-size: 14px;
    }
}

/* X Small screens (425px and up) */
@media only screen and (min-width: 425px) {
    .welcome {
        width: 300px;
    }

    .nolink {
        width: 300px;
    }

    .table-choice {
        margin-top: 455px;
    }

    .tables-main {
        margin-top: 50px;
    }
}

/* Small screens (640px and up) */
@media only screen and (min-width: 640px) {
    .welcome {
        width: 350px;
    }

    .welcome-text {
        font-size: 16px;
    }

    .nolink {
        width: 350px;
    }

    .nolink-text {
        font-size: 16px;
    }

    .table-choice {
        margin-top: 500px;
    }

    .tables-main {
        margin-top: 60px;
    }
}

/* Medium screens (768px and up) */
@media only screen and (min-width: 768px) {
    .welcome {
        width: 400px;
    }

    .nolink {
        width: 400px;
    }

    .tables {
        font-size: 15px;
    }

    .table-choice {
        margin-top: 465px;
    }

    .tables-main {
        margin-top: 50px;
    }

    .external-links {
        font-size: 12px;
    }

}

/* Large screens (1024px and up) */
@media only screen and (min-width: 1024px) {
    .welcome {
        width: 450px; 
    }

    .nolink {
        width: 450px; 
    }

    .toptext {
        font-size: 20px;
    }

    .tables-main {
        flex-direction: row;
        margin-top: 450px;
    }

    .tables {
        margin-right: 20px;
        margin-left: 20px;
        width: max-content;
    }

    .customrecoveries {
        margin-top: 0px;
    }

    .table-choice {
        display: none;
    }

}

/* X Large screens (1280px and up) */
@media only screen and (min-width: 1280px) {

}

/* XX Large screens (1536px and up) */
@media only screen and (min-width: 1536px) {
    .welcome {
        width: 500px;
    }

    .nolink {
        width: 500px;
    }
}
 
/* XXX Large screens (2560px and up) */
@media only screen and (min-width: 2560px) {
    .welcome {
        width: 600px;
    }

    .nolink {
        width: 600px;
    }
}

  .buttononclick {
    background-color: #eeeeee;
}

.darkbutton {
    background-color: #37474f;
    color: white;
}

.darkbutton:hover {
    background-color: #62727b;
}

.darkbutton-noback {
    color: white;
}

.darkbutton-noback:hover {
    background-color: #62727b;
}

.darklink {
    color: rgba(255, 255, 255, 0.658);
}

.darklink:hover {
    color: rgb(255, 255, 255);
}